<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/contact.css">
    <link rel="ICON" href="/static/img/urpi.png">
    <title>Urpi</title>
  
</head>

<body>
    <div class="rect">
        <a href="/Menu" class="btnRegresar">REGRESAR AL MENU</a>    
    </div>

    <div class="formulario">
        <form action="/consultas" method="post">
            <h1>CONTACTANOS</h1>
            <input name="usuario" required type="text" placeholder="Nombres">
            <input name="correo" required type="email" placeholder="Correo electrónico">
            <textarea name="mensaje" required id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
            <div class="btnE">
                <button style="cursor: pointer;" class="btnEnviar" type="submit">Enviar mensaje...</button>
            </div>
        </form>
        
    </div>
        <br>
        <div class="redes">
            <h2>Siguenos en..</h2>
            <div class="iconos">
                <img src="/static/img/Icon/spot.png" width="3%">
                <img src="/static/img/Icon/fb.png" width="3%">
                <img src="/static/img/Icon/yt.png" width="3%">
            </div>
        </div>
       
        
        <img class="ellipse1" src="/static/img/ellipses/Group 2.png">

        <img class="ellipse2" src="/static/img/ellipses/Group 3.png">

        
        <img class="ellipse3" src="/static/img/ellipses/Group 1.png">
    
</body>

</html>