<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="ICON" href="/static/img/urpi.png" />
    <link rel="stylesheet" href="/static/css/menu.css" />
    <title>Urpi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
  </head>
  <body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand">URPI</a>
        <a href="/contact" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">CONTACTANOS</a>
      </div>
    </nav>

    <div class="container_t">
      <div class="barra-menu">
      <div class="menu">
        <div style="display: flex; justify-content: center; margin-top: 30px;"> 
        <img src="/static/img/urpi.png" width="50%">
      </div>
        <ul style="margin-top: 40px;">
          <li><a href="/">Inicio</a></li>
          <li><a href="/nosotros"> Acerca de Nosotros</a></li>
          <li><a href="/live">En vivo</a></li>
          <li>Programacion</li>
        </ul>

        <div style="display: flex; justify-content: center; align-items: center;">
          <button class="btnRegist">Registrar</button>
        </div>
<div class="enlaces-a">
        <a href="https://rpp.pe/legal">Terminos y condiciones</a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSecANqB5d4dLuJeVheAdSV40GWKqA_xr3WzW-Lz_5_Bdhwqdw/viewform?usp=send_form">Reporte de errores</a>
      </div>   
      </div>
    </div>
      <div>
        <div class="live-radio">
          <img src="/static/img/urpi.png" class="icon-urpi" />
          <div class="radio">
            <div style="margin-bottom: 50px; margin-top: 30px;">
              <h3>En vivo</h3>
              <h5>Lo mejor de tu musica</h5>
            </div>
            <audio controls>
              <source  src="https://stream-150.zeno.fm/xpgmzbdaf3ttv?zs=upFGbIizR0eazDxWxK00Ew" type="audio/mpeg" />
            </audio>
          </div>
        </div>

        <br />

        <a href="/contact">
          <img src="/static/img/Icon/consultaimg.png" class="consultaimg">
      </a>
      <div class="titulo-radio">
        <div>
        <h2 style="color: white; margin-bottom:60px;margin-top: 25px;">Radios..</h2>
      </div>
        <div class="rect-dercho">

        </div>
      </div>
        <div class="radios">
            <img src="/static/img/radios/logo_lazona.png" alt="">
            <img src="/static/img/radios/logo_rpp.png" alt="">
            <img src="/static/img/radios/logo_corazon.png" alt="">
            <img src="/static/img/radios/logo_felicidad.png" alt="">
            <img src="/static/img/radios/logo_oxigeno.png" alt="">
            <img src="/static/img/radios/logo_megamix.png"width="11%">
        </div>
      </div>
    </div>
    
      
 
  </body>
</html>
