*{
    margin: 0;
    padding: 0;
}
body {
    background:linear-gradient(rgba(0, 0, 0, 0.770), rgba(0, 0, 0, 0.770)), url(/static/img/fondos/contacFondo.jpeg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: #515151;
    font-family: Arial, Helvetica, sans-serif;
    
}

.rect {
    background: #222222;
    width: 100%;
    height: 60px;
    z-index: 1;
}

.formulario {
    display: grid;
    justify-content: center;
    
    position: relative;
    top: 30px;
}

.formulario form {
    display: grid;
    gap: 30px;

}
h1{
    text-align: center;
    color: white;
}

textarea {
    border-radius: 8px;
    background: transparent;
    border: white 2px solid;
    color: white;
    width: 420px;
    z-index: 4;
}

input {
    width: 420px;
    height: 35px;
    border-radius: 8px;
    text-indent: 10px;
    background: transparent;
    border: white 2px solid;
    color: white;
    z-index: 4;
}

.btnEnviar {
    width: 200px;
    height: 45px;
    background: rgb(231, 135, 0);
    color: white;
    font-weight: bolder;
    display: grid;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    text-align: center;
    align-items: center;
}

.btnE {
    display: grid;
    justify-content: center;

}
.redes{
    display: grid;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bolder;
    position: relative;
    top: 30px;
}
.iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    top: 40px;
}

.btnRegresar{
    background-color: rgb(145, 29, 106);
    padding: 8px;
    text-decoration: none;
    color: wheat;
    font-weight: bolder;
    position: relative;
    top: 20px;
    border-radius: 8px;
    margin-left: 40px; 
       
}
.btnRegresar:hover{
    background-color: #680049;
    transition: all 0.2s;
}

.ellipse1{
    z-index: 3;
    position: relative;
    left: 60px;
    margin-top:-450px;
    width: 320px;
    animation: float 5s ease-out infinite;

}

.ellipse2{
    z-index: 3;
    position: relative;
    left: 430px;
    top: -150px;
    margin-top:-500px;
    width: 450px;
    animation: float 10s ease-out infinite;

}
.ellipse3{
    z-index: 3;
    position: relative;
    left: 300px;
    top: 50px;
    margin-top:-500px;
    width: 200px;
    animation: float 15s ease-out infinite;

}


@keyframes float {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(-60px);
    }
    100%{
        transform:translateY(0px);
    }
}
