
body{
    background-color: #0E2D2D;
}

.live-container{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.audio-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.audio-cont audio{
    width: 255px;
}